/* Grid */
.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  place-items: center;
  width: max-content;
  margin: auto;
  min-height: 100vh;
  padding: 2em; /* Add padding to contain the grid */
}

/* Widgets */
section {
  background: rgba(211, 211, 211, 0.5);
  padding: 2em;
  border-radius: 1em;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/


/* Time */
.time {
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}