<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
 <link href="https://api.fontshare.com/v2/css?f[]=panchang@800,1&f[]=pramukh-rounded@900&f[]=britney@400,700,1000&display=swap" rel="stylesheet"> 
    
    <title>Smart Mirror</title>

  </head>
  <body>
    
    <slot />
    
  </body>
</html>
